<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>О компании</h4>
                <ul>
                    <li><a href="/about">О нас</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Помощь</h4>
                <ul>
                    <li><a href="/delivery">Доставка</a></li>
                    <li><a href="/returns">Возврат</a></li>
                </ul>
            </div>
            
            <div class="footer-section social">
                <h4>Мы в соцсетях</h4>
                <div class="social-links">
                    <a href="#">
                        <!-- <img src="/icons/vk.svg" alt="VK"> -->
                        <i class="fa-brands fa-vk"></i>
                    </a>
                    <a href="#"><i class="fa-brands fa-telegram"></i></a>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>© 2025 BrandShop. Все права защищены</p>
        </div>
    </footer>
</body>
</html>