<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/base}">

<body>
    <main th:fragment="content">
        <section class="cart-container">
            <h1 class="cart-header">Ваша корзина</h1>

            <div class="cart-items">
            </div>

            <div class="summary">
                <!-- <div class="promo-section">
                    <input type="text" class="promo-input" placeholder="Введите промокод">
                    <button class="btn btn-primary">Применить</button>
                </div> -->

                <div class="total-price">Итого: 0 KZT</div>
                <button class="checkout-btn">Перейти к оплате</button>
            </div>
            <script th:inline="javascript">
                document.addEventListener('DOMContentLoaded', () => {
                    const cartItemsJson = JSON.parse(localStorage.getItem('cartJson')) || [];
                    const cartItemsContainer = document.querySelector('.cart-items');
                    let cartItems = [];

                    fetch('/api/products/all')
                        .then(response => response.json())
                        .then(products => {
                            cart.forEach(productId => {
                                const product = products.find(p => p.id == productId);
                                if (product) {
                                    cartItems.push({
                                        id: product.id,
                                        name: product.baseProduct.name,
                                        image: product.baseProduct.image,
                                        price: product.price * (1 - product.discount / 100),
                                        stock: product.quantity,
                                        discount: product.discount,
                                        quantity: cartItemsJson.find(i => i.id == product.id)?.quantity || 1
                                    });
                                }
                            });
                            saveCartToStorage();
                            renderCartItems();
                        });

                    function renderCartItems() {
                        cartItemsContainer.innerHTML = '';
                        cartItems.forEach(item => {
                            const cartItemElement = document.createElement('div');
                            cartItemElement.classList.add('cart-item');
                            cartItemElement.dataset.id = item.id;
                            cartItemElement.innerHTML = `
                                <img src="${item.image == '' ? 'img/no-image.png' : item.image}" alt="${item.name}" class="item-image">
                                <div class="item-details">
                                    <h3 class="item-title">${item.name}</h3>
                                    <p class="item-price" data-price="${item.price}">${item.price.toLocaleString()} KZT / шт</p>
                                    <p class="product-stock">${'Stock: ' + item.stock}</p>
                                </div>
                                <div class="quantity-controls">
                                    <button class="quantity-btn minus">-</button>
                                    <span class="quantity">${item.quantity}</span>
                                    <button class="quantity-btn plus">+</button>
                                </div>
                                <div class="item-total">${(item.price * item.quantity).toLocaleString()} KZT</div>
                                <button class="remove-btn">✕</button>
                            `;
                            cartItemsContainer.appendChild(cartItemElement);
                        });

                        addEventListeners();
                        updateCartTotal();
                    }

                    function addEventListeners() {
                        document.querySelectorAll('.quantity-btn').forEach(btn => {
                            btn.addEventListener('click', (e) => {
                                const itemElement = e.target.closest('.cart-item');
                                const id = itemElement.dataset.id;
                                const item = cartItems.find(i => i.id == id);

                                if (btn.classList.contains('plus')) {
                                    item.quantity++;
                                } else {
                                    item.quantity = Math.max(1, item.quantity - 1);
                                }

                                itemElement.querySelector('.quantity').textContent = item.quantity;

                                updateItemTotal(itemElement);
                                updateCartTotal();
                                saveCartToStorage();
                            });
                        });

                        document.querySelectorAll('.remove-btn').forEach(btn => {
                            btn.addEventListener('click', (e) => {
                                const itemElement = e.target.closest('.cart-item');
                                const id = itemElement.dataset.id;
                                cartItems = cartItems.filter(i => i.id != id);
                                itemElement.remove();
                                updateCartTotal();
                                saveCartToStorage();
                            });
                        });

                        document.querySelector('.checkout-btn').addEventListener('click', () => {
                            fetch('/api/cart/checkout', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ products: JSON.parse(localStorage.getItem('cartJson')) || [] })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.id) {
                                        localStorage.setItem('cartJson', '[]');
                                        localStorage.setItem('cart', '[]');
                                        window.location.href = '/cart/checkout?orderId=' + data.id;
                                    } else {
                                        alert(data.error);
                                    }
                                })
                                .catch(error => {
                                    console.error('Error checking out:', error);
                                    alert('Ошибка при оформлении заказа');
                                });
                        });
                    }

                    function updateItemTotal(itemElement) {
                        const price = parseInt(itemElement.querySelector('.item-price').dataset.price);
                        const quantity = parseInt(itemElement.querySelector('.quantity').textContent);
                        itemElement.querySelector('.item-total').textContent =
                            `${(price * quantity).toLocaleString()} KZT`;
                        updateCartCounter();
                    }

                    function updateCartTotal() {
                        const total = cartItems.reduce((sum, item) => sum + (item.price * item.quantity), 0);
                        document.querySelector('.total-price').textContent =
                            `Итого: ${total.toLocaleString()} KZT`;
                    }

                    function saveCartToStorage() {
                        localStorage.setItem('cart', JSON.stringify(cartItems.map(i => i.id)));
                        localStorage.setItem('cartJson', JSON.stringify(cartItems.map(i => ({ id: i.id, quantity: i.quantity }))));

                        updateCartCounter();
                    }
                });
            </script>
        </section>
    </main>
</body>

</html>